<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="ZigWheelsSuite" parallel="methods" thread-count="4">


    <test name="Run All Tests">
        <classes>
            <class name="test.MainTest"/>
        </classes>
    </test>

</suite>


<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->

<!--<suite name="ZigWheelsSuite" parallel="methods" thread-count="4">-->

<!--    <test name="SanityTests">-->

<!--        <classes>-->
<!--            <class name="test.MainTest"/>-->
<!--        </classes>-->

<!--    </test>-->

<!--</suite>-->